<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http:0//www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Student Online Services</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="alternate" type="application/rss+xml" title="Student Online Services RSS" href="https://myschool.carsu.edu.ph/index.php?q=rss.xml" />
<link rel="shortcut icon" href="/static/images/rootcandy_dark_favco.ico.png" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" media="all" href="/static/css/node.css" />
<link type="text/css" rel="stylesheet" media="all" href="/static/css/node.css" />
<link type="text/css" rel="stylesheet" media="all" href="/static/css/system.css" />
<link type="text/css" rel="stylesheet" media="all" href="/static/css/system-menus.css"/>
<link type="text/css" rel="stylesheet" media="all" href="/static/css/user.css" />
<link type="text/css" rel="stylesheet" media="all" href="/static/css/content-module.css" />
<link type="text/css" rel="stylesheet" media="all" href="/static/css/ctools.css" />
<link type="text/css" rel="stylesheet" media="all" href="/static/css/dhtml_menu.css">
<link type="text/css" rel="stylesheet" media="all" href="/static/css/onlineclearance.css" />
<link type="text/css" rel="stylesheet" media="all" href="/static/css/filefield.css" />
<link type="text/css" rel="stylesheet" media="all" href="/static/css/fieldgroup.css" />
<link type="text/css" rel="stylesheet" media="all" href="/static/css/views.css" />
<link type="text/css" rel="stylesheet" media="all" href="/static/css/style.css" />
<link type="text/css" rel="stylesheet" media="all" href="/static/css/nav.custom.css" />
<link type="text/css" rel="stylesheet" media="all" href="/static/css/dark.css" />
<link type="text/css" rel="stylesheet" media="screen" href="/static/css/icons.css" />
    <script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/drupal.js"></script>
<script type="text/javascript" src="/static/js/dhtml_menu.js"></script>
<script type="text/javascript" src="/static/js/views_slideshow.js"></script>
<script type="text/javascript" src="/static/js/rootcandy.js"></script>
<script type="text/javascript" src="/static/js/slide.js"></script>
<script type="text/javascript">
<!--//--><![CDATA[//><!--
jQuery.extend(Drupal.settings, { "basePath": "/", "dhtmlMenu": { "slide": "slide", "siblings": "siblings", "clone": "clone", "relativity": 0, "children": 0, "doubleclick": 0 } });
//--><!]]>
</script>
  </head>

  <body class="sidebar-left node" oncontextmenu="return false;">

    <!-- Layout -->
        <div id="page-wrapper"><div id="page-wrapper-content">
            <div id="navigation" class="clearfix i24">
        
      <img src="/static/images/pasundayag.png" alt="Student Online Services" id="logo" />      </div>

      <div id="breadcrumb" class="alone">
                      </div>

      <div id="content-wrap">
        <div id="inside">
                      <div id ="sidebar-left">
              <div id="block-studentphoto-configurable-text" class="block block-studentphoto">
  <h2><center style="background:#282828;font-size:15px;padding: 5px;">191-01923</center></h2>

  <div class="content">
    <div class='oc-box-border' style='text-align:center;background:#FFF;border: 5px solid #FFF'><img src='https://myschool.carsu.edu.ph/sites/default/files/avatar_male_2.png?q' style='width:150px;' /><br><b>JOHN MARK L. LUMAPAC </b></div><div class='oc-box-border' style='text-align:center;background:#282828;color:#ff7b00;'><b>BSIT - 4</b></div><div class='oc-box-border' style='text-align:center;background-color:#34495e;padding-top:15px;'>
				<b style='color:white;'>FULLY VACCINATED</b><br/><sup style='color:#f39c12;font-weight:bold;'>VAX STATUS NOT YET VERIFIED</sup>
				</div>  </div>
</div>
<div id="block-user-1" class="block block-user">
  <h2>johnmark.lumapac</h2>

<div class="content">
<ul class="menu"><li class="leaf first dhtml-menu "><a href="https://myschool.carsu.edu.ph/myschoolbeta/index.php/saml_login" title="Try the beta site for the new MySchool" id="dhtml_menu-225">New Student Online Beta</a></li>
<li class="leaf  dhtml-menu "><a href="http://myschool.carsu.edu.ph/myschoolbeta/index.php/student-services/activate-account" title="Activate your student account" id="dhtml_menu-238">Activate Account</a></li>
<li class="leaf  dhtml-menu "><a href="/index.php?q=changepassword" id="dhtml_menu-141">Change Password</a></li>
<li class="leaf  dhtml-menu "><a href="/index.php?q=googleapps-account" id="dhtml_menu-174">Google Apps Account</a></li>
<li class="leaf  dhtml-menu "><a href="/index.php?q=myappointment" id="dhtml_menu-273">My Appointment</a></li>
<li class="leaf  dhtml-menu "><a href="/index.php?q=My_balance" id="dhtml_menu-176">My Balances</a></li>
<li class="leaf  dhtml-menu "><a href="/index.php?q=My_schedule" id="dhtml_menu-177">My Class Schedule</a></li>
<li class="leaf  dhtml-menu "><a href="/index.php?q=onlineclearance" title="Online Clearance System" id="dhtml_menu-113">My Clearance</a></li>
<li class="leaf  dhtml-menu "><a href="/index.php?q=pes" title="" id="dhtml_menu-180">My Evaluation</a></li>
<li class="leaf  dhtml-menu "><a href="/index.php?q=evaluation" title="" id="dhtml_menu-175">My Grade</a></li>
<li class="leaf  dhtml-menu "><a href="/index.php?q=myvoucher" title="My Voucher" id="dhtml_menu-178">My Internet Voucher</a></li>
<li class="leaf  dhtml-menu "><a href="/index.php?q=mystudinformation" id="dhtml_menu-277">My Student Information</a></li>
<li class="leaf  dhtml-menu "><a href="/index.php?q=mysurvey" id="dhtml_menu-275">My Survey</a></li>
<li class="leaf  dhtml-menu "><a href="/index.php?q=My_transcript" id="dhtml_menu-179">My Transcript</a></li>
<li class="leaf  dhtml-menu "><a href="/index.php?q=csg-election" title="" id="dhtml_menu-172">My Votes</a></li>
<li class="leaf  dhtml-menu "><a href="/index.php?q=user/13491" id="dhtml_menu-21">My account</a></li>
<li class="leaf  dhtml-menu "><a href="/index.php?q=offered_subject" id="dhtml_menu-219">Offered Subject</a></li>
<li class="leaf  dhtml-menu "><a href="/index.php?q=online_enrollment" id="dhtml_menu-271">Online Enrollment</a></li>
<li class="leaf last dhtml-menu "><a href="/index.php?q=logout" id="dhtml_menu-4">Log out</a></li>
</ul>  </div>
</div>
<div id="block-block-1" class="block block-block">
  <h2>Android App</h2>

  <div class="content">
    <p><a href="?q=android_service&amp;download=yes" target="_parent"><img src="/static/images/1442830546_android.png" alt="Android App" title="Download Android App" width="128" height="128" /></a></p>
  </div>
</div>
            </div>
                              <div id="content">
            <div class="t"><div class="b"><div class="l"><div class="r"><div class="bl"><div class="br"><div class="tl"><div class="tr"><div class="content-in">
                                                                        <div class="node">
        <h2 class="title"><a href="/index.php?q=node/13">Activate Student Online Account Procedure</a></h2>    <span class="submitted"></span>
    <div class="taxonomy"></div>
    <div class="content"><div><center><a href="https://drive.google.com/file/d/1bCNhyndid_I6_KD9IK4sEwPixiajySY3/view?usp=sharing" target="_blank"> <img src='https://lh3.googleusercontent.com/eFGrNL9lbG8-NlyHqmzkMlFXvgA1wh5bELX6xlymvmpg5qMWcoD4c1uajV07iTZ5sUKZVvaULFFTM-sG7IXL7IY-mxVksHo78Qcitw9h8ThZmEu816b45HRiTGwCr6AIfal0ofaahg=w2400' style="text-align: center;width:100%;height=300px;" /> </a><br />
</center></div>
</div>
      </div>

  <div class="node">
        <h2 class="title"><a href="/index.php?q=node/17">Student Online Services Portal User Guide</a></h2>    <span class="submitted"></span>
    <div class="taxonomy"></div>
    <div class="content"><div><center><a href="https://drive.google.com/file/d/1IKUlSBD3jpX3dLzZGZfqjiSsHGozkjJ4/view?usp=sharing" target="_blank"> <img style="text-align: center; width: 100%;" src="https://lh3.googleusercontent.com/p47EzUtavMDZOfIgeFCb-y7F-9tmE_5ZdH6T-JENarlmfaKA5MVqWNhIF4ZQgd6fge0I9jFpdMTYO5y53IRx5aTkbL8hrUXDurevFoUzxJaD83gk7VL7vF5u3RhxjsWrpQ1dzpHaPA=w2400" alt="" /> </a></center></div>
</div>
      </div>

  <div class="node">
        <h2 class="title"><a href="/index.php?q=node/14">CSU Student Handbook</a></h2>    <span class="submitted"></span>
    <div class="taxonomy"></div>
    <div class="content"><div><center><a href="https://www.carsu.edu.ph/sites/default/files/downloadables/Student%20Handbook%20Final%20Revision.pdf" target="_blank"> <img src='https://lh3.googleusercontent.com/eaQmU6Vi04RQ3P0iICiA4Bu3qIFEO-zER73yYrXoySdCelEaBeGFaF0RdOKvXEbtiHx_Uyjn-4cHX9sNRbllkagyd_HmLPD26QeGssvqg6jl8oY47NdIjd9jK4rig6kDDf0JpbUt3A=w2400' style="text-align: center;width:100%;height=300px;" /> </a>
<p></p></center></div>
</div>
      </div>

  <div class="node">
        <h2 class="title"><a href="/index.php?q=node/9">Online Client Satisfaction Survey Form</a></h2>    <span class="submitted"></span>
    <div class="taxonomy"></div>
    <div class="content"><div><center><a href="https://docs.google.com/forms/d/e/1FAIpQLScZgzIIeENn46UdN4pP4XZfkIuffFSEeH67Bqhcpt7kPk6HDQ/viewform" target="_blank"> <img src='https://lh3.googleusercontent.com/5FQv-gowofjsrQP5_wxUCn7tnHzV2XlguTQEzwErXs--yxb3yoe8ZALL6emR47vsrV8SIphXxZO1s9Ey_sAylO8PRvGii5mjsnEW8_QaOb9Q1AGK99HxOgW3H21H0gsbIPvUfk3Bog=w2400' style="text-align: center;width:100%;height=300px;" /> </a>
<!--<h4 style="text-align: center; font-family: Verdana, Geneva, sans-serif; color: #8e44ad;">Note: CarSU GMail Account Sign in is required. </h4>--><!--<h4 style="text-align: center; font-family: Verdana, Geneva, sans-serif; color: #8e44ad;">Note: CarSU GMail Account Sign in is required. </h4>--><p></p></center></div>
</div>
      </div>

  <div class="node">
        <h2 class="title"><a href="/index.php?q=node/18">Technical Support</a></h2>    <span class="submitted"></span>
    <div class="taxonomy"></div>
    <div class="content"><div><center><a href="https://www.facebook.com/carsu.mis" target="_blank"> <img style="text-align: center; width: 100%;" src="https://lh3.googleusercontent.com/LlOqaWnEyZdm9sqpi94R121a-NbkLSzOZCt0G7JOBf_aWzxPPgrdVDZNFaXqMCMFYwCLAQqmEOVyJ3ct8glWQA-x8GfzIxhCvqan3uuVOIVBlw3fLYWx4E3XjT4vSBH0_KBQICvVbQ=w2400" alt="" /> </a></center></div>
</div>
      </div>

  <div class="node">
        <h2 class="title"><a href="/index.php?q=node/16">Students’ Feedback on the Proctored Online Examination</a></h2>    <span class="submitted"></span>
    <div class="taxonomy"></div>
    <div class="content"><div><center><a href="https://myschool.carsu.edu.ph/index.php?q=mysurvey" target="_blank"> <img src='https://lh3.googleusercontent.com/5pY5WoWiXHhw7X-2r8eyE1sZRV-PMWlXNp2CNVR5HgS2awxp-Yq5WGEwUvMrzO4w2SVugNGFpgWnHwSYC-9gNYt48QL8-S6s6SIlwpIFuZUNZYICAGk4CYGxz17SC1o30Ytbpm5NFg=w2400' style="text-align: center;width:100%;height=300px;" /> </a>
<p></p></center></div>
</div>
      </div>

  <div class="node">
        <h2 class="title"><a href="/index.php?q=node/6">Client Satisfaction Survey</a></h2>    <span class="submitted">Submitted by dpasis on Thu, 10/06/2016 - 16:50</span>
    <div class="taxonomy"></div>
    <div class="content"></div>
    <div class="links">&raquo; <ul class="links inline"><li class="webform_goto first last"><a href="/index.php?q=node/6" title="View this form." class="read-more">Go to form</a></li>
</ul></div>  </div>

                                        </div><br class="clear" /></div></div></div></div></div></div></div></div>
          </div>
        </div>
      </div>
          </div></div>
    <!-- /layout -->
    <div id="legal-notice" style="clear:both;"><span>2023 All Rights Reserved - <a href="http://carsu.edu.ph">Caraga State University</a><br>
Ampayon, Butuan City, Caraga Region, 8600 Philippines<br>
Powered by: <a href="http://carsu.edu.ph/?q=ict-center/ict-team">CSU - ICT Center</a>, CSU - Main Campus
</span></div>  </body>
</html>
